
#top{
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 5% 10% 5% 10%;
}
#pic{
  height: 200px;
  width: auto;
  float: left;
  grid-area: pic;
}
#info{
  float: right;
  grid-area: info;
  width: 60%;
}
h1 {
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 50px;
}
#education{
  display: block;
  width: 90%;
  margin: 0 auto;
}
#projects{
  margin: 5% 20%;
}
#autoclass{
  text-decoration: none;
  color: #000;
}
#stockinfo{
  text-decoration: none;
  color: #000;
}
@media (max-width: 860px) {
  #top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
