/* #body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "main aside";
  grid-column-gap: 10%;
  margin: 75px 100px 75px 100px;
} */
#body{
  display: flex;
  margin: 75px 100px;
  justify-content: center;
}
#main{
  grid-area: main;
  padding: 30px 20px 10px 20px;
  margin-top: -1.5em;
  flex: 3;
}
#aside{
 grid-area: aside;
 flex: 1;
}
#pic1{
	width: 90%;
	display: block;
	margin: 0 auto;
}
#first{
  text-decoration: none;
  color: #000;
}
.button{
  background: #5ED2DE;
  border: none;
  color: #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-family: Open Sans;
  float: right;
  text-decoration: none;
  font-size: 14px;
}
.button:hover{
  color: #5ED2DE;
  background: #fff;
  font-weight: bold;
  border: 1px solid #5ED2DE;
}
@media (max-width: 1000px) {
  #body{
    display: flex;
    flex-direction: column;
  }
  #pic1 {
    width: 100%;
  }
}
